/*-- scss:defaults --*/
// quarto-scss-analysis-annotation { "origin": "sandstone (builtin theme)" }

$theme: "sandstone" !default;

//
// Color system
//

$iqb-red:   #B40036; // viel davon
$iqb-black: #271A2B;
$iqb-darkgreenblue: #00818D;
$iqb-lightgreenblue: #02ADBE;
$iqb-lightred: #EFA7C0;
$white:     #FFFFFF !default;
$gradient: linear-gradient(45deg, $iqb-lightgreenblue, $iqb-red);

$gray-80: #534856 !default;
$gray-65: #746978 !default;
$gray-50: #938996 !default;
$gray-35: #B6ADB9 !default;
$gray-25: #CAC5CD !default;
$gray-15: #DEDBDF !default;
$gray-09: #EBEAEC !default;
$gray-05: #F4F2F2 !default;  //viel davon
$black:    #000 !default;

// skin tones
$verydark-redish:#59362D;
$dark-redish:   #995D4C;
$redish:        #F2A691;
$light-redish:  #FFD7CC;
$dark-yellowish:#8A6249;
$yellowish:     #AD7E61;
$light-yellowish:#F0CFB4;
$verylight-yellowish:#FCE7D6;



// sandstone colours

$blue:    #325d88 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f47c3c !default;
$yellow:  #ffc107 !default;
$green:   #93c54b !default;
$teal:    #20c997 !default;
$cyan:    #29abe0 !default;

$primary:       $blue !default;
$secondary:     $gray-65;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-25;
$dark:          $gray-80;
$emphasis-color-rgb: rgb(0, 0, 0);

$min-contrast-ratio:   2 !default;

// Body

$body-color:    $iqb-black;
$body-bg:       $gray-05;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans:            sans-serif;
$font-family-serif:           serif; // für lange Texte
$headings-font-weight:        400;


// Headers

$heading-color:   $iqb-red;
$meta-data:       $gray-50;

// Nav

$nav-font-weight:       800;
$nav-link-color:        $white;
$nav-link-hover-color:  $iqb-black;
$nav-link-active-color: $iqb-black;

// Navbar

$navbar-color-bg: $gradient;

$navbar-brand-font-size: 1.25rem;
$navbar-brand-font-weight: 500;
$navbar-brand-color: $nav-link-color;
$navbar-brand-hover-color: $nav-link-hover-color;

// Links

$link-color:        $iqb-darkgreenblue;
$link-hover-color:  $iqb-darkgreenblue;


// nav-tabs
$nav-tabs-color:        $gray-80;
$nav-tabs-color-bg:     $gray-15;
$nav-tabs-border-color: $gray-09;

$nav-tabs-font-weight:  600;

$nav-tabs-hover-color: $nav-tabs-color;
$nav-tabs-hover-color-bg: $nav-tabs-color-bg;
$nav-tabs-hover-border-color: $iqb-black;

$nav-tabs-active-color: $nav-tabs-color;
$nav-tabs-active-color-bg: $gray-25;
$nav-tabs-active-border-color: $nav-tabs-hover-border-color;

/*-- scss:rules --*/


// Variables

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// Body

body {
  font-family: $font-family-sans;
  color: $body-color;
  background-color: $body-bg;
}

// Headers

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: $font-family-sans;
  color: $heading-color;
}

// Meta data: author, date

#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  
  text-transform: capitalize;
  margin-top: 1em;
  font-size: .5em;
  opacity: 0 !important;
  font-weight: 400;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-size: .9em;
  font-style: italic;
  color: $meta-data;
}


// Navbar

.navbar{
  background: $navbar-color-bg;
  .nav-link {
    font-weight: $nav-font-weight;
    color: $nav-link-color;
    text-transform: uppercase;
  }
  .nav-link:hover, .nav-link:focus {
    color: $nav-link-hover-color;
  }
  .nav-link.active{
    color: $nav-link-active-color;
  }
}
.navbar-brand {
  font-size: $navbar-brand-font-size;
  font-weight: $navbar-brand-font-weight;
  color: $navbar-brand-color;
}
.navbar-brand:hover, .navbar-brand:focus {
  color: $navbar-brand-hover-color;
}

// nav-pills

.nav-tabs .nav-link { // non active tab-pills
  color: $nav-tabs-color;
  background: $nav-tabs-color-bg;
  border-color: $nav-tabs-border-color;
  font: $font-family-sans;
  font-weight: $nav-tabs-font-weight;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus { // hover color
  color: $nav-tabs-hover-color;
  background: $nav-tabs-hover-color-bg;
  border-color: $nav-tabs-hover-border-color;
  font: $font-family-sans;
  font-weight: $nav-tabs-font-weight;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link { // active color
  color: $nav-tabs-active-color;
  background: $nav-tabs-active-color-bg;
  border-color: $nav-tabs-active-border-color;
  font: $font-family-sans;
  font-weight: $nav-tabs-font-weight;
}




// quarto-scss-analysis-annotation { "origin": null }
