/* css styles */


/* meta data: author, date */

#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  
  text-transform: capitalize;
  margin-top: 1em;
  font-size: .5em;
  opacity: 0 !important;
  font-weight: 400;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-size: .9em;
  font-style: italic;
  color: lightgray;
}

/*-- scss:defaults --*/